* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 15px;
}

header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #165480;
    background-color: white;
    text-align: left;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

header1 {
    float: left;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

.header2 {
    float: right;
    margin-top: 30px;
    font-style: oblique;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif
}

section {
    padding-top: 100px;
    max-width: 610px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    border-left-style: dashed;
    border-left-color: dimgray;
    border-left-width: 5px;
    border-right-style: dashed;
    border-right-color: dimgray;
    border-right-width: 5px;
}

.parte1 {
    background-color: dimgray;
    max-width: 280px;
    float: left;
    margin-bottom: 90px;
    margin-right: 50px;
    text-align: justify;
}

.parte2 {
    background-color: dimgray;
    max-width: 280px;
    float: left;
    margin-bottom: 90px;
    text-align: justify;
}

.parte3 {
    background-color: dimgray;
    max-width: 280px;
    float: left;
    margin-bottom: 90px;
    margin-right: 50px;
    text-align: justify;
}

.parte4 {
    background-color: dimgray;
    max-width: 280px;
    float: left;
    margin-bottom: 90px;
    text-align: justify;
}

h2 {
    font-size: 130%;
    border-bottom: 1px solid #165480;
    margin-bottom: 4px;
    margin-left: 6px;
}

p {
    margin-left: 6px;
    margin-bottom: 4px;
}

h5 {
    font-size: 90%;
}

.GUERRA h1 {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
}

.MUNDO h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.DEPORTES h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.CULTURA h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    max-width: 300px;
    border-radius: 5px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    margin-left: 150px;
    float: left;
}

aside a {
    position: fixed;
    border-color: antiquewhite;
    border-radius: 5%;
}